
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: #222;
    padding: 10px;
    margin: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}


h1, h2, h3 {
    text-align: center;
}


main, article {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #ddd;
    margin-top: 20px;
}
